/* Product console */
body {
    overflow-x: hidden;
}
.slide-form {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.4s ease;
    z-index: 1050;
}
.slide-form.active {
    right: 0;
}
footer {
    background: #f8f9fa;
    padding: 10px;
    text-align: center;
}

.table-bordered {
    height: calc(100vh - 203px);
}

#contentBox {
    min-height: 200px;
}

.admin-console-content-container{
	height:79vh;
}

.product-content-container{
	height:82vh;
}

.rule-content-container{
	height:82vh;
}

.pricetesting-content-container{
	height:79vh;
}



/* Overlay */
.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}
