<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Smart Retail Price Engine App</title>
        
        <link href="/css/bootstrap-5.3.2.min.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <span class="navbar-brand">Admin Console</span>
            </div>
        </nav>

        <div class="ms-3 mt-4 admin-console-content-container">
            <a class="btn btn-primary" href="/product" role="button">Product Console</a>
            <a class="btn btn-primary" href="/rule" role="button">Rule Console</a>
            <a class="btn btn-primary" href="/pricetesting" role="button">Price Testing Screen</a>
        </div>

        <footer class="">© 2025 Smart Retail Price Engine App</footer>
    </body>
</html>
